<mat-toolbar color="primary" class="mat-elevation-z12">
  <span>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">
      {{title}}
    </span>
  </span>
  <span class="spacer"></span>

  <button mat-mini-fab matTooltip="Your tickets" data-target="#tickets" data-toggle="modal">
    <mat-icon>account_balance_wallet</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container #ax class="h-100">
  <mat-sidenav [opened]="sidenavOpened" mode="side" #sidenav>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a mat-button>
          <mat-icon>
            {{link.icon}}
          </mat-icon>
          {{link.title}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--CONTENT-->
  </mat-sidenav-content>
</mat-sidenav-container>
